@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

#header {
    font-size: 250%;
    text-align: center;
    animation-name: show;
    animation-duration: 1s;
}

#text {
    text-align: center;
    animation-name: show;
    animation-duration: 1s;

}

@keyframes show {
    from {opacity: 0;}
    to {opacity: 1;}
}